body{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    
}
section > div{
    background-color: #100c3c70;
    color: white;
    border: 1px solid white;
    padding: 2vw;
    margin: 1.5vw;
    /* height: 250px; */
    box-shadow: 7px 7px #94b44f;
    

}
    section > div > header{
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 2em;
    }
